
@{
    ViewData["Title"] = "MostrarListaAlunos";
    Layout = "~/Views/Shared/_LayoutGeneral.cshtml";
}

<div class="Container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <p class="text-center">Menu Controles</p>
            <hr>
             @await Html.PartialAsync("~/Views/Shared/_MenuSideBarPartialView.cshtml")
            <div class="d-grid gap-2">
              
            </div>

        </div>
        <div class="col-sm-10">
            <p class="text-center">Lista de Alunos</p>
            <hr />

        </div>
    </div>
</div>


