@model codigonaveia.academias.Application.Models.Account.ForgotPasswordModelView
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_LayoutGeneral.cshtml";
}

<div class="container">
    <br>
    <div class="row">
        <div class="col-sm-6">
            <img src="~/img/Login.jpg" style="width:100%" />

        </div>
        <div class="col-sm-6">
            <form class="row g-3" asp-controller="Account" asp-action="ForgotPassword" method="post">
                
                <div class="col-12">
                    <label for="Email" class="form-label">Entre com seu e-mail valido</label>
                    <input type="email" class="form-control" asp-for="Email" placeholder="E-mail">
                </div>
                              
                <div class="col-12">
                    <div class="d-grid gap-2">
                        <button class="btn btn-primary" type="submit">Alterar senha</button>
                     
                    </div>
                  
                </div>
                <div asp-validation-summary="All" class="text-danger"></div>
            </form>
        </div>
    </div>
</div>

