@model codigonaveia.academias.Application.Models.Account.ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_LayoutGeneral.cshtml";
}

<div class="container">
    <br>
    <div class="row">
        <div class="col-sm-6">
            <img src="~/img/Login.jpg" style="width:100%" />

        </div>
        <div class="col-sm-6">
            <form class="row g-3" asp-controller="Account" asp-action="ResetPassword" method="post">
                <input asp-for="Token" type="hidden" />
                <input asp-for="Email" type="hidden" />
                <div class="col-12">
                    <label for="senha" class="form-label">Entre com uma nova Senha</label>
                    <input type="password" class="form-control" asp-for="Password">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                  <div class="col-12">
                    <label for="Corfirmsenha" class="form-label">Connfirme a nova Senha</label>
                    <input type="password" class="form-control" asp-for="ConfirmPassword">
                     <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
               
                <div class="col-12">
                    <div class="d-grid gap-2">
                        <button class="btn btn-primary" type="submit">Alterar nova senha</button>
                    
                    </div>
                    
                  
                </div>
                <div asp-validation-summary="All" class="text-danger"></div>
            </form>
        </div>
    </div>
</div>

