html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
footer p{
    color:#FFF;
}
.nav-item{
    margin:0px 0px;
}
.navbar-nav > li > a {
    color: #FFF;
}
.container-home-title h1 {
    color: #FFF;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 5em;
    text-shadow: 5px 5px 5px #ff0000;
}
.footer-general p{
    color:#000;
}
.imgAvatar{
    width:50%;
    margin-left:auto;
    margin-right:auto;
}
