<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa-solid fa-dumbbell"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
               @* <li class="nav-item">
                     <p style="color:#FFFFFF">Ola, @User.Identity.Name</p>

                </li>*@
                
                <li class="nav-item">
                        
                    <a class="btn btn-outline-warning" asp-area="" asp-controller="Account" asp-action="Register"><i class="fa-solid fa-user-plus"></i> Criar Conta</a>
                </li>
                <li class="nav-item dropdown">

                    <a class="btn btn-outline-success dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-user-lock"></i> Login
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li><a class="dropdown-item" href="#"><i class="fa-solid fa-right-to-bracket"></i> Entrar</a></li>
                        }




                        @if (User.Identity.IsAuthenticated)
                        {
                            <li><hr class="dropdown-divider"></li>
                            @* <form asp-controller="Account" asp-action="LogOut" method="post">
                        <button type="submit" class="dropdown-item"><i class="fa-solid fa-door-open"></i> Sair</button>
                        </form>*@

                            <li><a class="dropdown-item btnSair" href="#"><i class="fa-solid fa-door-open"></i> Sair</a></li>
                        }


                    </ul>



                </li>
            </ul>
        </div>
    </div>
</nav>
